In [2]:
import orchest

In [3]:
product_data = orchest.get_inputs()['product_data']

events_df = product_data['events']

In [7]:
events_df.head()

     product                date action
0  Product J 2020-08-19 21:40:53    buy
1  Product A 2020-07-27 02:44:48    buy
2  Product J 2021-04-30 21:27:16    buy
3  Product E 2020-10-10 05:49:50    buy
4  Product J 2020-06-21 23:15:34    buy

In [9]:
events_df['product'].value_counts()[:3]

Product F    299
Product A    288
Product H    242
Name: product, dtype: int64